:host {
  display: flex;
  justify-content: center;
}

a {
  margin: 15px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  :host {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 15px;
  }

  a {
    margin: 0;
    margin-left: 15px;
  }
}
